@media (min-width:780px) and (max-width:1024px){
    .about-box{
        width: 100%;
        padding: 10px;
        .about-benefit{
            display: grid;
            grid-template-columns: 430px 430px;
        }
    }
}
@media (min-width:430px) and (max-width:769px){
    .content{
        display: flex;
        flex-direction: column;
    }
    .about-box{
        width: 100%;
        .about-benefit{
            display: grid;
            grid-template-columns: 300px 300px;
            .icon-head{
                a{
                    word-wrap: break-word;
                }
            }
        }
    }
}
@media (min-width:380px) and (max-width:426px){
    .content{
        display: flex;
        flex-direction: column;
    }
    .about-box{
        width: 100%;
        .about-benefit{
            display: flex;
            flex-direction: column;
            .img-icon{
               text-align: center;
            }
            .icon-head{
                text-align: center;
                a{
                    word-wrap: break-word;
                }
            }
        }
    }
    
}
@media (min-width:330px) and (max-width:379px){
    .content{
        display: flex;
        flex-direction: column;
    }
    .about-box{
        width: 100%;
        .about-benefit{
            display: flex;
            flex-direction: column;
            .img-icon{
                text-align: center;
             }
             .icon-head{
                 text-align: center;
                 a{
                     word-wrap: break-word;
                 }
             }
        }
    }
}
@media (min-width:0px) and (max-width:320px){
    .content{
        display: flex;
        flex-direction: column;
    }
    .about-box{
        width: 100%;
        .about-benefit{
            display: flex;
            flex-direction: column;
            .img-icon{
                text-align: center;
             }
             .icon-head{
                 text-align: center;
                 a{
                     word-wrap: break-word;
                 }
             }
        }
    }

}
