@media (min-width: 780px) and (max-width: 1024px) {
  .about-box {
    width: 100%;
    padding: 10px;
  }
  .about-box .about-benefit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 430px 430px;
        grid-template-columns: 430px 430px;
  }
}

@media (min-width: 430px) and (max-width: 769px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box {
    width: 100%;
  }
  .about-box .about-benefit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
  }
  .about-box .about-benefit .icon-head a {
    word-wrap: break-word;
  }
}

@media (min-width: 380px) and (max-width: 426px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box {
    width: 100%;
  }
  .about-box .about-benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box .about-benefit .img-icon {
    text-align: center;
  }
  .about-box .about-benefit .icon-head {
    text-align: center;
  }
  .about-box .about-benefit .icon-head a {
    word-wrap: break-word;
  }
}

@media (min-width: 330px) and (max-width: 379px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box {
    width: 100%;
  }
  .about-box .about-benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box .about-benefit .img-icon {
    text-align: center;
  }
  .about-box .about-benefit .icon-head {
    text-align: center;
  }
  .about-box .about-benefit .icon-head a {
    word-wrap: break-word;
  }
}

@media (min-width: 0px) and (max-width: 320px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box {
    width: 100%;
  }
  .about-box .about-benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box .about-benefit .img-icon {
    text-align: center;
  }
  .about-box .about-benefit .icon-head {
    text-align: center;
  }
  .about-box .about-benefit .icon-head a {
    word-wrap: break-word;
  }
}
/*# sourceMappingURL=media.css.map */