@media (min-width: 780px) and (max-width: 1024px) {
  .about-box {
    width: 100%;
    padding: 10px;
  }
  .about-box .about-benefit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 430px 430px;
        grid-template-columns: 430px 430px;
  }
}

@media (min-width: 430px) and (max-width: 769px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box {
    width: 100%;
  }
  .about-box .about-benefit {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 300px 300px;
        grid-template-columns: 300px 300px;
  }
  .about-box .about-benefit .icon-head a {
    word-wrap: break-word;
  }
}

@media (min-width: 380px) and (max-width: 426px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box {
    width: 100%;
  }
  .about-box .about-benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box .about-benefit .img-icon {
    text-align: center;
  }
  .about-box .about-benefit .icon-head {
    text-align: center;
  }
  .about-box .about-benefit .icon-head a {
    word-wrap: break-word;
  }
}

@media (min-width: 330px) and (max-width: 379px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box {
    width: 100%;
  }
  .about-box .about-benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box .about-benefit .img-icon {
    text-align: center;
  }
  .about-box .about-benefit .icon-head {
    text-align: center;
  }
  .about-box .about-benefit .icon-head a {
    word-wrap: break-word;
  }
}

@media (min-width: 0px) and (max-width: 322px) {
  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box {
    width: 100%;
  }
  .about-box .about-benefit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-box .about-benefit .img-icon {
    text-align: center;
  }
  .about-box .about-benefit .icon-head {
    text-align: center;
  }
  .about-box .about-benefit .icon-head a {
    word-wrap: break-word;
  }
  .images .image {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 42% 42%;
        grid-template-columns: 42% 42%;
    margin: 1em 0 0 2.5em;
  }
  .images .image .six_image {
    width: 70%;
    height: 50%;
  }
  .foot {
    margin: 12em 0 -2em 0;
  }
  .foot .main_content .blue_back {
    border-radius: 6em;
    width: 100vw;
  }
  .foot .main_content .blue_back h1 {
    white-space: nowrap;
    margin: 0 0 0 -.5em;
  }
  .foot .main_content .blue_back .common {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
    top: -.5em;
    right: -6em;
  }
  .foot .main_content .blue_back .common .start {
    position: relative;
    top: 3em;
    left: -12em;
    margin: 1em 0;
    width: 103%;
  }
  .foot .main_content .blue_back .common .tutor {
    position: relative;
    top: 2em;
    left: -6em;
    width: 14em;
    margin: .5em 0 0 -6em;
  }
  .foot .main_content .help .all_links {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40% 40%;
        grid-template-columns: 40% 40%;
    -ms-grid-rows: 33% 33%;
        grid-template-rows: 33% 33%;
  }
  .base {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .base .right {
    white-space: nowrap;
    width: 53%;
  }
  .base .left {
    white-space: nowrap;
  }
  .base .left ul {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
}
/*# sourceMappingURL=media.css.map */